<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394236296692-elmvi560r4ea3sqaqslae9mjlqv1kd7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394236296692-elmvi560r4ea3sqaqslae9mjlqv1kd7h</string>
	<key>API_KEY</key>
	<string>AIzaSyDtIQSn3RO9nF3OgB37smaM8RN2dpQM0uY</string>
	<key>GCM_SENDER_ID</key>
	<string>394236296692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sajiClient</string>
	<key>PROJECT_ID</key>
	<string>saji-editor</string>
	<key>STORAGE_BUCKET</key>
	<string>saji-editor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394236296692:ios:93a8eadbb79676cffacda1</string>
</dict>
</plist>